<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yelp Camp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<style href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></style>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>