<div class="ui container main">
  <div class="ui vertical menu">

  <div class="item">
    <div class="header">Data Structure & Algorithm</div>
    <div class="menu">
      <a class="item">Readings</a>
      <a class="item">Intro & Analysis</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Programming</div>
    <div class="menu">
      <a class="item">JavaScript</a>
      <a class="item">Java</a>
      <a class="item">Python</a>
    </div>
  </div>
    <div class="item">
    <div class="header">Database</div>
    <div class="menu">
      <a class="item">SQL</a>
      <a class="item">MongoDB</a>
      <a class="item">Distributed</a>
    </div>
  </div>
  <div class="item">
    <div class="header">System Design</div>
    <div class="menu">
      <a class="item">Distributed</a>
      <a class="item">Microservices</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Network & Security</div>
    <div class="menu">
      <a class="item">Block Chain</a>
      <a class="item">Protocols</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Support</div>
    <div class="menu">
      <a class="item">Email Me</a>
    </div>
  </div>
</div>
</div>
