  
	<footer class="footer">
    <div class="container">
      <span class="text-muted">Tianyou Huang</span><br>
      <span class="footer-contact"><a class="text-muted" href="mailto:tianyou.richard@gmail.com">tianyou.richard@gmail.com</a></span>
    </div>

	</footer>
  </body>
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
</html>