
<%include partials/header%>
<div class="ui container">
	<div class="main-content" style="margin-top:5em;">
	<div class="ui three column grid">
    <div class="column" style="display:flex;flex-wrap: wrap;" >
	    <div class="ui fluid card">
	      <div class="image">
	        <img src="/img/guess-color.png">
	      </div>
	      <div class="content">
	        <a class="header" href="/component/guess-color/guess-color.html">Guess Color</a>
	      </div>
	    </div>
  	</div>
    <div class="column" style="display:flex;flex-wrap: wrap;">
	    <div class="ui fluid card">
	      <div class="image">
	        <img src="/img/patatap.png">
	      </div>
	      <div class="content">
	        <a class="header" href="/component/patatap/patatap.html">Patatap</a>
	      </div>
	    </div>
  	</div>
    <div class="column" style="display:flex;flex-wrap: wrap;">
	    <div class="ui fluid card" style="max-height: 250px;">
	      <div class="image" style="max-height: 200px;">
	        <img src="/img/click-in-order.png" style="max-height: 200px;">
	      </div>
	      <div class="content">
	        <a class="header" href="/component/click-in-order/click-in-order.html">Click in order</a>
	      </div>
	    </div>
  	</div>
    <div class="column" style="display:flex;flex-wrap: wrap;">
	    <div class="ui fluid card">
	      <div class="image">
	        <img src="/img/todo-list.png">
	      </div>
	      <div class="content">
	        <a class="header" href="/component/todo-list/todo-list.html">Todo List</a>
	      </div>
	    </div>
  	</div>
  </div>
</div>
</div>

<%include partials/footer%>