<% include partials/header%>
<div class="content">
  <% include partials/navbar%>
<!-- motto -->
  <div class="container" >
    <div class="jumbotron" >
      <h1 id="title">Tianyou's site</h1>
        <p id="intro">new stuff everyday.</p>
    </div>
  </div>

<!-- content -->
  <div class="container">
    <% var i = 0;%>
    <% while(i<projects.length){ -%>
      <% if (i % 3 === 0) { -%>
            <div class="row">
          <% } -%>
          <% var j = i;
          while(i<projects.length && i<j+3){ -%>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="card" >
              	<a href="<%= projects[i].url %>">
                	<img src="<%= projects[i].image %>" class="card-img-top">
            	</a>
                <div class="card-body">
            		<p>date: <%= projects[i].created.toDateString() %></p>
                </div>
              </div>
            </div>
          <% i++; %>
        <% } %>
            
      <% if (j % 3 == 0) { -%>
            </div>
          <% } -%>

    <% } -%>
  </div>

</div>
<% include partials/footer%>