<% include partials/header %>
<h1>Create a new camp</h1>
<form action="/campgrounds" method="POST">
	<input name="name" type="text">
	<input name="imageUrl" type="text">
	<button class="btn">submit</button>
</form>
<% include partials/footer %>