body {
  text-transform: uppercase;
  background:#1d2120;
  text-align: center;
}

span {
  color:white;

}
.square {
  background: purple;
  width:30%;
  float:left;
  margin:1.66%;
  padding-bottom:30%;
}
.jumbotron{
  color:white;
}
.navbar{
  max-height: 2.5rem;
}
.btn{
  color:#0375b4;
  border:0px;
  font-size: 1.5rem;
  background-color: transparent;
  padding:0.15rem;
  border-radius:0rem;
}
.btn:hover{
  background-color: #0375b4;
  color:white;
}

.content{
  background:black;

}
#header{
  color: white;
  margin:0 auto;
  padding:1rem;
  background-color:#0375b4;
}
